
     <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">©Copyright Giho Kim - Centennial College - Software Engineering Technology (Co-op)</p>
        <p><a href="#">Back to top</a></p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="/Scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>
  </body>
</html>