<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR ABOUT -->
    <!-- MAIN CONTENT -->
  <div class="container">
    <div class="c_post">
      <div class="c_main">
        <h2 class="c_post_title">Information</h2>
        <p>I'm a student in the third semester of Software technology program</p>
        <p>at Centennial College.</p>
        <p>Previously i studied the same program in Korea.</p>
        <hr>

        <h2 class="c_post_title">One of my favourite Course is:</h2>
        <p>Developing Website and Programming.</p>
        <p>I would like to be Web Developer.</p>
        <p>To be good designer, I should have a strong imagination.</p>
        <hr>
        <h2 class="c_post_title">This semester I'm taking the following courses:</h2>
        <ul>
          <li>
            <p>Advanced Database Concepts</p>
          </li>
          <li>
            <p>Advanced Web Application Development</p>
          </li>
          <li>
            <p>Object Oriented Software Engineering </p>
          </li>
          <li>
            <p>JAVA Programming</p>
          </li>
          <li>
            <p>Advanced Business Communications</p>
          </li>
          <li>
            <p>Global Citizenship: From Social Analysis to Social Action</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
       <!-- END OF MAIN CONTENT -->
       <% include ../partials/footer.ejs %>

