<% include ../partials/header.ejs %>
  <!-- CONTENT PAGE FOR CONTACT -->
  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="innver_content">
      <hr />
      <div class="c_title">
        Contact
      </div>
      <hr />
      <div style="text-align: center">
        <img class="img-circle" src="/Assets/images/contact.png" alt="Generic placeholder image" width="140" height="140">
        <h4>Name:</h4>
        Giho Kim
        <h4>Cell Phone:</h4>
        (416) 906 - 4789
        <h4>Email:</h4>
        kihokkang@gmail.com
        <h4>Address:</h4>
        75 Goulding Ave, Toronto, Ontario
        <hr>
        <p><a class="btn btn-lg btn-success" href="https://www.facebook.com/kihokkang" role="button">Facebook</a></p>
      </div>
    </div>

  </div>
  <!-- END OF MAIN CONTENT -->
  <% include ../partials/footer.ejs %>