<% include ../partials/header.ejs %>
<!-- CONTENT PAGE FOR PROJECTS -->
<!-- MAIN CONTENT -->
  <div class="container">
    <div class="innver_content">
    <hr />
    <div class="c_title">
    Projects
    </div>
    <hr />
          <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="Project/assign1/Images/logo2.png" alt="" style="width: 140px; height: 140px;">
          <h2>Validation</h2>
          <p>I created client side form validation using Javascript for online membership application form but, the problem was 
              when someone can change javascript code using chrome debugging tool.
          </p>
          <p><a class="btn btn-default" href="Project/assign1/Assignment3.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="Project/assign2/Images/normal.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Canvas</h2>
          <p>Canvas can be used in HTML5. So, I made the simeple web game using mousehandler event on Javascript.</p>
          <p><a class="btn btn-default" href="Project/assign2/Assignment4.html" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="Project/Group_Project/images/Logo_feel.png.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Online Shopping mall(Team Project)</h2>
          <p>(Not finished) I'm working on online shopping mall project from school and using HTML, CSS, Boostrap, JavaScript for front end.
           Also, I'm using Bootstrap and Javascript for more interactive user experience. Currently, We build the basic of design.
           On this week, We will connect asp with database.
          </p>
          <p><a class="btn btn-default" href="Project/Group_Project/Home.aspx" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


    </div>
  </div>
<!-- END OF MAIN CONTENT -->
<% include ../partials/footer.ejs %>